.card{
    width: 33%;
    height: 100%;
    object-fit: contain;
    /* From https://css.glass */
    backdrop-filter: blur(10px);

}
.cardimg{
   position: absolute;
    z-index: -50;

}
.glass{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.glass:hover{
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    transition: ease-in;
}
.head{
    position: absolute;
    z-index:30;
    padding: 1em;
    font-size: 2em;
    color:white;
}
.readmore{
    position:absolute;
    z-index: 30;
    color: white;
    bottom: 0;
    right: 0;
    background-color: darkgray;
    padding: 0.2em;
    border-radius: 5%;
}